<p>Bank Account Details Form</p>

<table style="border: 1px solid; width: 100%">
  <thead>
    <th>Account Name</th>
    <th>Account Number</th>
    <th></th>
  </thead>
  <tbody>
    @for(record of formArray().controls; track $index; let i = $index) {
    <tr [formGroup]="record">
      <td>
        <input formControlName="accountName" />
      </td>
      <td>
        <input formControlName="accountNumber" />
      </td>
      <td>
        <button type="button" (click)="delete.emit(i)">X</button>
      </td>
    </tr>
    }
  </tbody>
</table>
