<form [formGroup]="weirdozFg">
  <div [formArrayName]="'fieldsArray'">
    <div class="flex flex-col gap-2 p-2 justify-center">
      <label class="text-start p-2! font-bold bg-cyan-500 text-gray-200"
        >User Name</label
      >
      <div
        class="w-full!"
        *ngFor="let group of fieldsArray.controls; let i = index"
      >
        <div class="flex flex-col gap-1" [formGroupName]="i">
          <input
            pInputText
            id="name"
            aria-describedby="name-help"
            [formControlName]="'name'"
          />
          <small
            class="p-d-block text-red-400"
            *ngIf="
              group.get('name')?.dirty &&
              group.get('name')?.invalid &&
              group.get('name')?.touched &&
              group.get('name')?.hasError('duplicateName')
            "
          >
            User Name already exists.
          </small>
        </div>
      </div>
      <button pButton primary (click)="addControl()">Add Control</button>
    </div>
  </div>
</form>
