{{ title }}
<form [formGroup]="userBankDetailsFormGroup" (ngSubmit)="onSubmit()">
  <div>
    <div>User Name</div>
    <div><input [formControlName]="'userName'" /></div>
  </div>
  <div style="margin-top: 10px" [formArrayName]="'bankAccounts'">
    <h2>Form Array</h2>
    <div style="margin-top: 10px">
      <button type="button" (click)="onAddBankAccount()">
        Add Bank Account
      </button>
    </div>
    <!-- Form Array -->
    <app-type-form-array
      [formArray]="bankAccounts"
      (delete)="onDeleteArrElem($event)"
    ></app-type-form-array>
  </div>

  <!-- Form Record -->
  <h2 appHighlighter>Form Record</h2>
  <div style="margin-top: 10px">
    <!-- When type is not defined, browser default consider this as submit button which cause to triggr submit event -->
    <button type="button" (click)="onAddBankAccountRecord()">
      Add Bank Account
    </button>
  </div>
  <div style="margin-top: 10px">
    <app-typed-form
      [(cData)]="pData"
      [formRecord]="bankAccountsFr"
      (delete)="onDelete($event)"
    ></app-typed-form>
  </div>
  <!-- When use button type submit, it should be wrapped inside the form tags
   else this won't work -->
  <button style="margin-top: 10px" type="submit">Submit</button>
  <button style="margin-top: 10px" type="reset">Clear</button>
</form>
<router-outlet></router-outlet>
